<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="main" class="main.Main"/>
    <bean id="site_parser" class="bypassingSitePages.SiteParser"/>
    <bean id="lemma_finder" class="lemmatizer.LemmaFinder"/>
    <bean id="index" class="entities.Index"/>
    <bean id="lemma" class="entities.Lemma"/>
    <bean id="page" class="entities.Page"/>
    <bean id="lemmaService" class="Services.LemmaService"/>
</beans>