<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    <bean id="main" class="Main.Main"/>
    <bean id="site_parser" class="BypassingSitePages.SiteParser"/>
    <bean id="index" class="Entities.Index"/>
    <bean id="lemma" class="Entities.Lemma"/>
    <bean id="page" class="Entities.Page"/>
</beans>