<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<!--<form method="post" action="/people">-->

<!--    <label for="name">Name</label>-->
<!--    <input name="name" type="text" id="name">-->

<!--    <br>-->

<!--    <label for="surname">Surname</label>-->
<!--    <input name="surname" type="text" id="surname">-->

<!--    <br>-->

<!--    <label for="email">Email</label>-->
<!--    <input name="email" type="text" id="email">-->

<!--    <br>-->

<!--    <input type="submit" value="Add Person">-->
<!--</form>-->
<p>Hello</p>
<a href="/exit">Click</a>
<!--<p th:text="${message}">Hello</p>-->
</body>
</html>